<div class="container">
  
  <div class="secao">
    <h3 class="text-center">Rodízios, Buffet, Carnes Especiais, Feijoada e mais!</h3>
    <h5 class="text-center">Conheça as melhores ofertas de restaurantes:</h5>
  </div>

  <hr />

  <div class="row" *ngFor="let oferta of ofertas; let i = index;">
    <div class="col-md-4">
      <img src="{{oferta.imagens[0].url}}" class="img-fluid" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>{{oferta.titulo}}</h4>
      </div>

      <div class="row">
        <h5>{{oferta.descricao_oferta}}</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>{{oferta.anunciante}}</b></p>
      </div>

      <div class="row">
        <p>R$ {{oferta.valor}}</p>
      </div>

      <div class="row">
        <button [routerLink]="['/oferta', oferta.id]" class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />
</div>